
@media (min-width: 800px) {
        html {
          font-size: 62.5%;
          margin: 0;
          height: 100vh;
        }
        * {
          margin: 0;
          box-sizing: border-box;
        }
        body {
          display: flex;
          flex-flow: column;
          font-size: 16px;
        }
        .header {
          text-align: center;
          background-color: #0093e9;
          background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
      
          padding: 18px;
          width: 100%;
          min-height: 70px;

          &__nombre {
            color: white;
            font-size: 3rem;
            margin: 20px auto;
            padding-left: 2rem;
            width: 40%;
          }
        }

        .nav {
            /* outline: 1px solid gold; */
            height: inherit;
            width: 70%;
            /* display: flex; */
            /* border-radius: 10px; */
          }
        
          .menu {
            color: white;
            font-size: 1.8rem;
            display: flex;
            border-radius: 10%;
          }
          .Menu-Item {
            list-style: none;
            border-radius: 80%;
            border: gainsboro solid;
            border-style: none;
            flex: 1;
            align-content: center;
            line-height: 3rem; /* con esto podemos alinear facilmente de manera vertical siempre que haya solo una linea*/
            text-align: center;
            transition: flex 0.5s, border 0.5s, color 0.3s, background 0.5s;
            margin: 5px;
          }
          .Menu-Item:hover {
            flex: 2;
            color: black;
            background: rgba(220, 220, 220, 0.5);
            border-style: solid;
          }
          .container {
            display: flex;
            flex-direction: column;
            height: inherit; /*Herencia de propiedades del padre*/
          }
          .backgr {
            /* filter: opacity(35%); */
            height: 600px;
            z-index: 0;
          }

          .yo {
            align-items: center;
            display: flex;
            flex-direction: row;
            // height: 600px;
            padding: 20px 20px;
            z-index: 1;
            background: url("../assets/images/js-cup.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        
          .mi{
            color: white;
            justify-items: center;
            
          }
      
          .yo__sideCard{
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 2%;
            font-size: 2rem;
            min-height: 500px;
            width: 400px;
          }
          .yo__sideCard div{
            background: rgba(0, 0, 0, 0);
        }
          /* .yo__sideCard > ul  {
            background: rgba(0, 0, 0, 0.5);
            border-radius: 2%;
            list-style-type: none;
            margin: 0px 0 15px 70px;
            width: 200px;
          } */
          /* .yo__sideCard > ul > li  {
            margin: 7px 0;
          } */
          .yo__sideCard  ul li a:link, a:visited, a:active,span {
            color: white;
            /* text-decoration: underline; */
            margin-left: 10px;
          }
          .yo__sideCard .referencias  {
            font-size: 2.6rem;
          }
          
          .yo__sideCard > .foto{
            border-radius: 50%;
            height: 300px;
            width: 300px;
            /* margin: 10px;  */
          }
          .content{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* outline: 1px solid cyan; */
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            font-size: 2rem;
            height: fit-content;
            justify-content: center;
            padding: 20px 20px;
            width: 70%;
            
          }
        
          .habilidades{
            /* background: dodgerblue; */
            background-image: linear-gradient(90deg, #0093E9 0%, orange 100%);
            display: flex;
            flex-direction: column;
            align-items: center ;
            z-index: 1;
            width: 100%;
          }
          
          .habilidades__lenguajes{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
            justify-content: space-around;
            margin: 10px 20px 10px;
            max-width: 100%;
          }
          .habilidades__frameworks{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
            justify-content: space-around;
            margin: 10px 20px 10px;
            max-width: 100%;
          }
          .card{
            align-items: center;
            background: white;
            border-radius: 10px;
            border-style: inset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px max(10px, 1%);
            width: 150px;
            padding: 15px ;
          }
          .logos{
            width: 120px;
            transition: transform 1.5s;
          }
          .logos:hover{
            transform: rotate(360deg) scale(1.4);
          }
          .aside{
            outline: 1px solid magenta;
            flex: 0 0 25%;
          }
        
          .footer {
            background-image: linear-gradient(90deg, #0093e9 0%, orange 100%);
            outline: 1px solid salmon; /* a diferencia de border, este no ocupa espacio*/
            height: 6rem;
            padding: 5px;
          }
        
}
