.header{
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    min-height: 65px;
    // padding: 30px;
    text-align: center;
    /* margin-bottom: 20px; */

    
}



.header__nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 3.0rem;
    margin-top: 20px;
    color: white;
    padding-left: 36px;

}

.header__nombre input {
    background-color: #FFFFFF;
}

.header__nombre span{
  font-size: 2.2rem;
}

#nav-check {
    display: none;
}

.nav-btn{
    display: inline-block;
    height: fit-content;
    position: absolute;
    
    right: 5%;
    color: #eee;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    transition: background-color 0.5s ease;

  }
  .nav-btn:hover{
    background-color: rgba($color: #FFFFFF, $alpha: 0.310);
  }

  .menu-btn__pressed{
    background-color: #FFFFFF;
    
  }

.nav {

    margin-top: 12px;
    width: 100%;
    // border: 1px #FFFFFF solid ;
    animation-name: mostrar;
    
    animation-duration: 2s;
    // border-radius: 7px;
}
.nav__open{
    animation-name: mostrar;
    animation-duration: 1s;
}

.nav__close{
    // visibility: hidden;
    opacity: 0;
    height: 0;
    animation-name: ocultar;
    animation-duration: 1s;
}
  
  @keyframes mostrar {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      height: auto;
    //   height: fit-content;
    //   padding: 0;
    //   margin: 0;
    }
  }

  @keyframes ocultar {
    0% {
      opacity: 1;
      height: fit-content;

    }
    100% {
      opacity: 0;
      height: 0;
    //   padding: 0;
    //   margin: 0;
    }
  }

.menu{
    display: block;
    color: white;
    list-style: none;
}
menu:first-child{
    border-radius:7px 7px 0 0;
}

.Menu-Item{
    height: 40px;
    width: 100%;
    border-bottom: 1px #FFFFFF solid ;
    // transition: transform 3s;
    
}


.Menu-Item:hover{
    background-color:rgba($color: #FFFFFF, $alpha: 0.15) ;
}

// .Menu-Item {
//   background-color:rgba($color: #FFFFFF, $alpha: 0.15) ;
// }


.menu li a:visited,a:link,a:active{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 18px;

    width: inherit;
    height: inherit;
    font-size: 2.6rem;
    color: white;
    text-decoration: none;
}
