.proyectos__titulo{
    font-size: 4rem;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
}

.swiper-slide > a{
    width: fit-content;
}
.card-proyect{
    box-shadow: 0 0 6px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 10px 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 250px;
    height: 350px;
    transition: 0.4s ease-in-out;

}
.card-proyect:hover{
    transform: scale(1.08);
}

.card-proyect img{
    display: block;
    
    max-width: 100%;
    height: 120px ;
    
}
.card-proyect .imagen-proyectos{
    display: block;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 5px  solid rgba(225, 225, 225, 1.0);
    aspect-ratio: 3/2;
    object-fit: fill;
}
.descripcion-proyectos{
    position: relative;
    color: black;
    
    /* border: 1px solid black; */
    border-radius: 0 0 10px 10px ;
    height: 100%;
    padding: 10px 15px;
    
    & > span {
        display: inline-block;
        margin-top: 10px;
        color: black;
        font-size: 1.8rem;
    }
    
}

span .link{
        color: black;
        font-size: 1.6rem;
        color: rgb(0, 115, 255) !important;
}

.titulo-proyecto{
    font-size: 1.8rem;

    
    
}
.decripcion__parrafo{
    margin-top:20px ;
    font-size: 1.4rem;
}

.lenguajes-proyectos{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.language{
    border-radius: 14px 6px;
    text-align: center;
    line-height: 27px;
    font-size: 1.6rem;
    font-weight: bold;
    height: 30px;
    padding: 0 10px;
    width: fit-content;           
}

.React{
    background-color: #0dcaf0;
    color: white;
    
}
.Javascript{
    background-color: #ffc108;
    color: black;
}
.Python{
    background-color: #366e9d;
    color: white;
}

.Django{
    background-color: #092d1f;
    color: white;
}

.Bootstrap{
    background-color: #8713f4;
    color: white;
}
.Express{
 background-color: #828282;
}

// .swiper-button-next,
// .swiper-button-prev {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 30px;
//   height: 30px;
//   background-color: #fff;
//   border-radius: 50%;
//   cursor: pointer;
// }

// .swiper-button-next::after {
//   content: '>';
//   font-size: 20px;
//   font-weight: bold;
// }

// .swiper-button-prev::after {
//   content: '<';
//   font-size: 20px;
//   font-weight: bold;
// }