:root {
    --color1: #0093E9;
    --color2: #ffc108;
  }

    *{
        margin: 0;
        padding: 0;
    }
    html{
        font-size: 62.5%;
    }
    body{
        margin: 0;
        width: 100%;
    }
    header{
        align-items: center;
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        padding: 30px;
        text-align: center;
        /* margin-bottom: 20px; */
    }

    .header__nombre{
        font-size: 3rem;
        margin-top: 20px;
        color: white;
    }

    input[type=checkbox] {
        appearance: none;
        cursor: pointer;
        height: 50px;
        margin: 0;
        position: relative;
        top: 0;
        width: 80px;
        z-index: 2;
        
      }
  
      input[type=checkbox]:checked~.menu {
        display:none;
        /* background-position:0px -50px; */
        /* opacity: 0; */
        /* visibility: hidden; */
        /* transition: opacity 2s linear; */
        transition: all 2s  ease;

      }
  

    .menu{
        display: block;
        color: white;
        list-style: none;


    }

     

    .Menu-Item{
        height: 40px;
    }
    .menu li a:visited,a:link,a:active{
        font-size: 2.6rem;
        color: white;
        text-decoration: none;
    }
    .container{
        border: none;
        width: 100%;

    }
    
    .yo{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: white;
        background: url('assets/img/js-cup.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .yo__sideCard{
        display: block;
        padding-top: 28px;
        margin: 0 auto;
        margin-top: 38px;
        /* background: rgba(222, 222, 222, 0.6); */
        min-width: 90px;
        max-width: 400px;
    }
    .yo__sideCard div{
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        margin: 0 20px;
        padding-top: 10px; 
        padding-bottom: 10px;
    }
    .yo__sideCard div h2{
        /* display: block; */
        font-size: 2.8rem;
        text-align: center;
        margin-top: 10px;
    }
    .image__background{
        height: 40px;
        width: 100%;
    }
    .backgr{
        height: 800px;
        width: 100%;
    }
    .nombre{
        color: white;
    }
    .foto{
        display: block;
        border-radius: 50%;
        min-width: 10%;
        max-width: 90%;
        margin: auto;
        /* height: 300px; */
    }

    .referencias {
        font-size: 2.8rem;
    }
    
    .referencias li{
        list-style-type: none;
        padding: 0;
    }
    .referencias li a:visited,a:link,a:active,span {
        text-decoration: none;
        font-size: 2.5rem;
        /* color: white; */
    }

    .ubicacion,.linkedin,.github,.email {
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        z-index: 2;
    }
    .ubicacion{
        background-color: white;
        background-image: url('./assets/icons/placeholder.png');
        border-radius: 9px;
        
      }
    .linkedin{
        
        background-image: url('./assets/icons/linkedin.png');
       
      }
    .github{
        background-color: white;
        background-image: url('./assets/icons/github.png');
        border-radius: 2px;
      }
      .email{
        background-image: url('./assets/icons/correo-electronico.png');
      }

    .content{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin: 20px;
        margin-bottom: 40px;
    }
    .presentacion{
        text-align: justify;
    }
    .habilidades{
        width: auto;
        text-align: center;
    }
    .habilidades .habilidades__titulos{
        color: black;
        display: block;
        font-size: 3rem;
        text-align: center;
      }
    .habilidades__lenguajes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
        font-size: 4rem;
        justify-content: center;
    }

    .habilidades__frameworks{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
        font-size: 4rem;
        justify-content: center;
    }
    .card {
        width: 95%;
        margin: 1px;
    }
    .logos{
        max-width: 95%;
        margin: 10px;
    }
    

    .contacto{
        font-size: 4rem;
        font-weight: bold;
    }

    .proyectos__titulo{
        font-size: 4rem;
        margin-left: 10px;
        margin-top: 10px;
    }

    .proyectos{
        display: flex;
        align-content: center;
        padding: 20px;
        overflow: hidden;
        width: 100%;
        height: 450px;
    }
    
    .swiper-wrapper  {
        /* display: flex; */
        /* align-content: center; */
    }

    .swiper {
        width: 100%;
        
        /* height: 800px; */
    }
    
    
    .card-proyects{
        
        box-shadow: 0 0 6px 7px rgba(0, 0, 0, 0.4);
        border-radius: 10px 10px 10px 10px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 250px;
        height: 350px;
        transition: 0.4s ease-in-out;
    }
    .card-proyects:hover{
        transform: scale(1.08);
    }
    .imagen-proyectos{
        border-radius: 10px 10px 0 0 ;
        border-bottom: 5px  solid rgba(225, 225, 225, 1.0);
        width: 100%;
        height: 200px;     
    }
    .descripcion-proyectos{
        position: relative;
        color: black;
        
        /* border: 1px solid black; */
        border-radius: 0 0 10px 10px ;
        height: 100%;
        padding: 10px 15px;
        
    }
    .titulo-proyecto{
        font-size: 1.8rem;
        
    }
    .decripcion__parrafo{
        margin-top:20px ;
        font-size: 1.4rem;
    }
    .lenguajes-proyectos{
        height: 40px;
        position: absolute;
        
        bottom: 20px;
        width: 100%;
    }
    .react{
        display: inline-block;
        background-color: #0dcaf0;
        border-radius: 14px 6px;
        color: white;
        text-align: center;
        line-height: 27px;
        font-size: 1.6rem;
        font-weight: bold;
        height: 30px;
        width: 60px;           
    }
    .javascript{
        display: inline-block;
        background-color: #ffc108;
        border-radius: 14px 6px;
        color: black;
        text-align: center;
        line-height: 27px;
        font-size: 1.6rem;
        font-weight: bold;
        height: 30px;
        width: 90px;           
    }

    .django{
        display: inline-block;
        background-color: #092d1f;
        border-radius: 14px 6px;
        color: white;
        text-align: center;
        line-height: 27px;
        font-size: 1.6rem;
        font-weight: bold;
        height: 30px;
        width: 90px;           
    }

    .bootstrap{
        display: inline-block;
        background-color: #8713f4;
        border-radius: 14px 6px;
        color: white;
        text-align: center;
        line-height: 27px;
        font-size: 1.6rem;
        font-weight: bold;
        height: 30px;
        width: 90px;           
    }

    
    .footer{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(90deg, #0093E9 0%, #e9c600 100%);
        color: white;
        font-size: 2rem;
        outline: 1px solid salmon; /* a diferencia de border, este no ocupa espacio*/
        height: 80px;
        margin: 0px;
        place-content: space-between; 
        width: 100%;
        }

    .footer > .footer__porta{
        margin-left: 10px;
        text-align: left;
    }
    .footer > .footer__autor {
        margin-right: 10px;
        text-align: right;
    }