*.png
*.jpg
*.svg
*.jpg
*.jpeg
*.svg

*.pdf

*.woff
*.woff2

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json



node_modules/
jspm_packages/

.npm


*.tgz

package.json
package-lock.json

logs
*.log

build/Release
build/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache

.webpack/